body {
}

main {
  /* width: fit-content; */
  box-shadow: 2px 3px 5px rgba(75, 75, 75, 0.774);
  background-color: cadetblue;
}

.vehicleDisplay::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

.vehicleDisplay::-webkit-scrollbar-track {
  background: rgb(241, 241, 241); /* color of the tracking area */
}

.vehicleDisplay::-webkit-scrollbar-thumb {
  background-color: gray; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

.vehicleCard {
  margin: 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: powderblue;
  border-radius: 3px;
  /* box-shadow: 2px 3px 5px rgba(75, 75, 75, 0.774); */
  /* super smooth shadow borrowed from https://shadows.brumm.af/*/
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.vehicleImgSize {
  width: 450px;
  height: 300px;
}

.vehicleName {
  font-size: large;
  font-family: cursive;
  text-shadow: darkslateblue;
}

.menu {
  display: flex;
  background-color: darkgray;
  height: 40px;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vehicleDisplay {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
}
